<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head">
    <title id="pageTitle">Spring Boot Thymeleaf Hello World Example</title>
</head>
<body>

<nav th:include="fragments/navbar"></nav>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Message: ' + ${text}"></span>
        </h2>
    </div>

</div>
<!-- /.container -->

<div th:include="fragments/footer"></div>

</body>
</html>