<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="/css/main.css" />

</head>
<body>

<nav th:include="fragments/navbar"></nav>

<div class="container">

    <div class="starter-template">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Sender</th>
                <th>Message</th>
            </thead>
            <tr th:each="message : ${messages}">
                <td><a th:href="@{/message/{id}(id=${message.id})}" th:text="${message.id}">1</a> </td>
                <td th:text="${message.sender}">1</td>
                <td th:text="${message.text}">1</td>
            </tr>
        </table>
    </div>

    <a href="/message/add" class="btn btn-default">Add message</a>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>